<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
<title>Turno Confirmado</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body class="container">

<header>
   <!--<nav class="navbar navbar-default" role="navigation">-->
<div class="container-fluid">

   

</div>
</nav>
</header>

<main>
    <div >
        <h3> Turno confirmado</h3>

 
    </div>

    

</main>




<footer>
   <p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
</footer>




<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>




</body>
</html>